:root {
    --main-color: #A0AADF;
    background-color: black;
    font-family: 'Inter';
}

.header {
    background-color: #5C6DC9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.header > .logo-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}