html {
    height: 100vh;
}

body {
    height: 100vh;
}

.header {
    background-color: #5C6DC9;
    height: 150px;
    font-size: 38pt;
    margin-left: 5px;
    margin-right: 5px;
}

.graph_body {
    background-color: black;
    height: 100vh;
}

.sidebar {
    background-color: aqua;
    height: 100vh;
}