:default {
    align-content: center;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
}

.header {
    background-color: #5C6DC9;
    height: 17vh;
    font-size: 38pt;
    margin-left: 5px;
    margin-right: 5px;
}

.graph_body {
    background-color: #A0AADF;
    border-style: solid;
    border-width: 5px;
    height: 83vh;
    padding: 5px;
}

.main_graphs {
    background-color: #7988D2;
    border-style: solid;
    border-width: 2px;
    border-radius: 2%;
    height: 35vh;
    padding: 5px;
}

.secondary_graphs {
    background-color: #7988D2;
    border-style: solid;
    border-width: 2px;
    border-radius: 2%;
    height: 35vh;
    padding: 5px;
}

.sidebar {
    background-color: #A0AADF;
    border-style: solid;
    border-width: 5px;
    height: 83vh;
    padding: 5px;
}